.heroSection {
    color: black
}

.parallax {
  height: 100vh;
  /* Centering content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Background image for the parallax effect */
  background-image: url("/public/images/coolBackground1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.container {
  position: relative;
  z-index: 2;
}
