.headerContainer {
    position: relative;
  }

.headerText {
  position: relative;
  padding: 40px;
  border-radius: 20px; /* Optional: Rounded corners */
  font-weight: bold; /* Make text bold for better visibility */
  font-family: courier;
  color: white;
}
